# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


#Makefile
#docker-compose.yml

# dependencies
frontend/react/node_modules
frontend/react/dist
backend/nest/node_modules
backend/nest/dist
backend/nest/.env
backend/nest/src/.env
backend/nest/uploads/profileimages
data
examples
frontend/volume
backend/volume
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
ft_transcendence.env

